<!DOCTYPE html>
<html>

{{ head }}

<body>
    <header>
        {{ header }}
    </header>
    <main>
        <h1>Welcome!</h1>
        <p>
            My name is Matthew Planchard, and I'm a software engineer
            living in Austin, TX. This is a blog I maintain mostly for
            the purpose of playing around with whatever technologies
            I'm interested in at the present.
        </p>
        <p>
            If you particularly enjoy anything here and want to drop me
            a line, you can find my contact information on the
            <a href="/about.html">about</a> page. If you're curious about
            the technical details behind this website, that stuff is there,
            too.
        </p>
        {{ content }}
    </main>
    <footer>
        {{ footer-common }}
    </footer>
</body>

</html>