/* Styles */

body {
    display: grid;
    grid-template-columns: minmax(200px, 600px);
    grid-gap: 5px;
}

header {
    font-family: 'Open Sans', sans-serif;
}

article {
    font-family: 'Roboto Slab', serif;
}

footer {
    font-family: 'Open Sans', monospace;
}

code {
    font-family: 'Fira Mono', monospace;
    background-color: oldlace;
}

pre code {
    border: 1px solid black;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}


/* Old browser compatibility */

header, section, footer, aside, nav, main, article, figure {
    display: block;
}


/* Fonts */

/* open-sans-regular - latin_latin-ext_greek-ext_greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/open-sans-v16-latin_latin-ext_greek-ext_greek-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('/fonts/open-sans-v16-latin_latin-ext_greek-ext_greek-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/open-sans-v16-latin_latin-ext_greek-ext_greek-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/open-sans-v16-latin_latin-ext_greek-ext_greek-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/open-sans-v16-latin_latin-ext_greek-ext_greek-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/open-sans-v16-latin_latin-ext_greek-ext_greek-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* fira-mono-regular - latin_latin-ext_greek-ext_greek */
@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/fira-mono-v7-latin_latin-ext_greek-ext_greek-regular.eot'); /* IE9 Compat Modes */
    src: local('Fira Mono Regular'), local('FiraMono-Regular'),
         url('/fonts/fira-mono-v7-latin_latin-ext_greek-ext_greek-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/fira-mono-v7-latin_latin-ext_greek-ext_greek-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/fira-mono-v7-latin_latin-ext_greek-ext_greek-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/fira-mono-v7-latin_latin-ext_greek-ext_greek-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/fira-mono-v7-latin_latin-ext_greek-ext_greek-regular.svg#FiraMono') format('svg'); /* Legacy iOS */
}

/* roboto-slab-regular - latin_latin-ext_greek-ext_greek */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/roboto-slab-v8-latin_latin-ext_greek-ext_greek-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
         url('/fonts/roboto-slab-v8-latin_latin-ext_greek-ext_greek-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/roboto-slab-v8-latin_latin-ext_greek-ext_greek-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/roboto-slab-v8-latin_latin-ext_greek-ext_greek-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/roboto-slab-v8-latin_latin-ext_greek-ext_greek-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/roboto-slab-v8-latin_latin-ext_greek-ext_greek-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
