<head>
    <meta charset="utf-8">
    <meta name="description" content="Matthew Planchard's personal blog">
    <meta name="keywords"
        content="programming, rust, html, python, javascript, html, austin, texas, blog, philosophy, software, development">
    <meta name="author" content="Matthew Planchard">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="feed" type="application/atom+xml" title="RSS Feed" href="/atom.xml">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/js/vendor/highlight/styles/gruvbox-dark.css">

    <title>MP - {{ title }}</title>

    <script src="/js/vendor/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
